@font-face {
  font-family: "cracked-font";
  src: url("fonts/cracked-code.ttf");
}

* {
  margin: 0;
  font-family: "Avenir Next", sans-serif;
}

.section {
  background-color: black;
  color: white;
}

.section > h1 {
  padding: 0.2em 0 0 0.1em;
}

.home {
  flex-direction: column;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: left;
  font-size: 9em;
}

p {
  font-size: 1em;
  line-height: 1.6em;
  max-width: 40em;
  padding-left: 0.8em;
}

p > strong {
  color: black;
  background-color: white;
  padding: 0 0.2em 0 0.2em;
}

a,
a:visited {
  color: white;
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline white;
}

.mediaBackground {
  height: 100vh;
  position: absolute;
  z-index: 0;
}

.home > h1,
.home > h2 {
  z-index: +1;
}

.home > h2 {
  margin: 2em;
  max-width: 40em;
  text-align: center;
}

.text-link {
  position: relative;
  display: inline-block;
  text-align: center;
  font-family: "cracked-font";
  font-size: 5em;
  text-decoration: none;
  color: #fff;
  z-index: +1;
}

.text-link > span {
  font-family: "cracked-font";
}

.text-link:before,
.text-link:after {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.text-link:before {
  color: #00aaff;
  z-index: -1;
}
.text-link:after {
  color: #ff00ff;
  z-index: -2;
}
.text-link:before {
  -webkit-animation: glitchy 1.9s ease 1.9s infinite;
  animation: glitchy 1.9s ease 1.9s infinite;
}
.text-link:after {
  animation: glitchy 1.9s ease infinite reverse;
}

@keyframes glitchy {
  0% {
    transform: translate(-3px, 3px);
  }
  25% {
    transform: translate(-3px, -3px);
  }
  50% {
    transform: translate(3px, 3px);
  }
  75% {
    transform: translate(3px, -3px);
  }
  100% {
    transform: translate(-3px, 3px);
  }
}

.cardList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardList > img:first-of-type {
  filter: grayscale(1);
  width: 100vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cardList > h1 {
  font-size: 6em;
  z-index: +1;
}

.tv-medium > p {
  margin: 1em;
}

.split-view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.split-view > section:nth-child(1) > p {
  margin: 1em;
}

.split-view > section:nth-child(2) {
  padding: 1em;
}

.split-view > section:nth-child(2) > ul {
  list-style: none;
  width: 40em;
  color: white;
  padding: 0;
  margin: 0;
}

.split-view > section:nth-child(2) > ul > li {
  width: 100%;
  margin: 0.3em 0 0.3em 0;
}

.split-view > section:nth-child(2) > ul > li > details {
  background-color: white;
  color: black;
  padding: 0.5em;
}

.split-view > section:nth-child(2) > ul > li > details > p {
  padding-top: 0.5em;
  padding-left: 1em;
}

.split-view > section:nth-child(2) > ul > li > details > summary {
  background-color: white;
  color: black;
  font-size: 1.2em;
  font-weight: bolder;
}

.thecards {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  z-index: +1;
}

.thecards > a {
  margin: 0em 1em 0 1em;
  padding-top: 1em;
}

.thecards > a > img {
  height: 17rem;
  box-shadow: none;
  transition: all 1s ease-in-out;
}

.thecards > a:hover > img {
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 0px 40px black;
  height: 18em;
}

.thecards > a:hover::after > img {
  height: 17rem;
  transition: all 1s ease-in-out;
}

ol > li {
  cursor: pointer;
}

.invisible {
  display: none;
}

/* John Edwards */

.medium-intro-image {
  position: absolute;
  right: -12em;
  bottom: 0;
}

.medium-intro-image > img {
  width: 40em;
  position: relative;
  filter: grayscale(1);
}

.show-year {
  text-align: right;
  position: absolute;
  right: 0;
}

#timeChart {
  width: 50em !important;
  height: 22em !important;
}
ul {
  list-style: none;
}

.show-year {
  position: absolute;
  bottom: 0;
}

.answers {
  position: absolute;
}

.answers > li {
  color: black;
  padding: 1em;
  list-style: none;
}

.answers > li:nth-of-type(even) {
  right: 0;
  position: fixed;
}

.answers > li:nth-of-type(odd) {
  left: 0;
  position: fixed;
}

.answers > li:nth-of-type(2),
.answers > li:nth-of-type(3) {
  margin-top: 4em;
}

.answers > li > label {
  padding: 1em;
  background-color: white;
}

.answers > li > label > input {
  visibility: hidden;
}

.answers > li > .rick {
  color: white;
  background-color: red;
}
