* {
  margin: 0;
}

.section {
  background-color: black;
  color: white;
}

.home {
  flex-direction: column;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home > h1 {
  text-align: left;
  font-size: 10em;
  margin: 0;
}

.thecards {
  flex-direction: row;
}

.thecards > img {
  margin-right: 2em;
}

/* John Edwards */

.edward ul {
  margin: 0;
  padding-top: 2em;
  list-style: none;
}

.edward p {
  max-width: 40em;
}

.side-pos {
  display: flex;
  flex-direction: row;
}

.side-pos > ul {
  list-style: none;
}

.side-pos > h1 {
  font-size: 13em;
}

a {
  color: white;
}

a:active {
  color: white;
}

#cardReader {
  width: 40%;
}

.container {
  display: flex;
  flex-direction: row;
}
