* {
  margin: 0;
  background-color: black;
}

.section {
  background-color: black;
  color: white;
  /* margin: 1em 0 0 0.5em; */
}

.home {
  flex-direction: column;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: left;
  font-size: 10em;
}

p {
  font-size: 1.3em;
  max-width: 40em;
  margin: 1em;
}

p > strong {
  color: black;
  background-color: white;
  padding: 0 0.2em 0 0.2em;
}

.thecards {
  flex-direction: row;
  margin-top: 2em;
}

.thecards > img {
  padding-right: 2em;
}

/* John Edwards */

.edward ul {
  margin: 0;
  padding-top: 2em;
  list-style: none;
}

.edward p {
  max-width: 40em;
}

.side-pos {
  display: flex;
  flex-direction: row;
}

.side-pos > ul {
  list-style: none;
}

.side-pos > h1 {
  font-size: 13em;
}

a {
  color: white;
}

a:active {
  color: white;
}

#cardReader {
  width: 40%;
}

.container {
  display: flex;
  flex-direction: row;
}
